@media (max-width:1400px){

    .service_wrapper .service_phone{
        max-width: 80%;
    }

}


@media(max-width:1200px){
    .service_wrapper .service_phone{
        max-width: 100%;
    }

}


@media(max-width:992px){

    section{
        padding: 20px 0;
    }
    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.2rem;
    }

    .header-wrapper .menu-navbar-nav{
        text-align: center;
        background-color: var(--bg-white);
        padding-bottom: 15px;
    }


.blog_wrapper_news .newsletter{ 
    width: 100%;
    margin:auto;
}

}

@media(max-width:768px){

    section{
        padding: 20px 0;
    }
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.8rem;
    }
    h3{
        font-size: 1.2rem;
    }
    p{
        font-size: 0.8rem;
    }
    .main-btn{
        font-size: 0.8rem;
    }

    .banner_wrapper .hd{
        display: flex;
        flex-direction: column-reverse;  
     }
     .header-wrapper .navbar .navbar-brand img{
        max-width: 120px;
    
        height: auto;
        text-align: center;
   }
   

}


@media(max-width:576px){
    .banner_wrapper .hd{
       display: flex;
       flex-direction: column-reverse;  
    }
}